html,
body {
  /* background-image: url(/img/polkadots.svg);
  background-repeat: no-repeat; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* #root {
    width: 100%;
    height: 100%;
    margin: auto;
} */

h1, h3, h4 {
  margin: 0em !important;
}

.serif {
  letter-spacing: .1em;
  font-family: serif, 'Footlight MT Light';
}

/* Images */
.image-wrapper {
  padding: 1em;
}

code {
  color: red;
  background-color: white;
}


#lede {
  font-size: 1.5em;
}

a:link, a:visited, a:active {
  color: #198754;
  text-decoration: none;
}

a:hover {
  color: #CDCDEB;
}



body {
  background-color: #FFFFFC;
}

/* Page layout */
.container {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;
  /* height: 100vh; */
  margin: auto;
}

.panel {
  color: white;
}

.main-content {
  width: 100%;
}

.content {
  width: 100%;
  margin: 1em auto;
}

.flexer {
  display: flex;
  flex-flow: row nowrap;
}

/* */

h5 {
  display: inline;
  text-align: center;
  padding-left: auto;
}

.nav > img {
  display: inline;
}

#sessioncontrols > img {
  width: 20%;
  padding: 1em;
}


/* Desktop screens */

@media (min-width: 769px) {
  .panel {
      width: 25%;
      padding: 2em;
  }
  
  .main-content {
      width: 60%;
  }

  .flexer {
      display: flex;
      flex-flow: row nowrap;
  }
  .spacer {
      width: 15%;
  }
  
  .toolbar {
      text-align: center;
      width: 25%;
  }
}
